---
layout: default
---

<div class="home">
  <h1 class="page-heading">Bienvenue !</h1>
  <p>
    Cet espace regroupe les différentes expériences et découvertes que j'ai pu réaliser au cours de projets ou de tutoriel. Il n'y a donc pas de suite ou de thématique entre les différents particles.
  </p>
  <p>
    Ce site sera complété au fur et à mesure de l'actualité de mes recherches sur différents sujets et thèmes liés au développement.
  </p>

  <h2 class="post-section">Posts</h2>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h3>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h3>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
